body{
    text-align: center;
    font-family: "Arial";
}
#container{
    width: auto;
    padding: 1em;
    border: 1px solid #000;
    border-radius: .3em;
    margin: 0 auto;
    color: #5B00A1;
}

#container h1{
    font-size: 20px;
}

#other{
    font-size: 30px;
    color: #FFF;
    background-color:#00F ;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: .1em;
}